<div class="row">
    <div id="cakesId" ng-repeat="cake in cakes">
        <div ng-if="$index % 4 == 0">

        </div>
        <div id="cakesCol" class="col-md-3 col-xs-6">
            <img class="img-thumbnail img-circle" src="{{cake.img}}" />
            <div>
                <span>{{cake.name}}</span>
                <span>{{cake.price}}₪</span>
            </div>
            <button class="btn btn-default" ng-click="addToCart(cake.name,cake.price,cake.img)">Add to cart!</button>
        </div>
    </div>
</div>